// Probably conflicts with mantine UI
// @tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ========== custom classes ==============
.reg-btns {
  background: linear-gradient(
      180deg,
      rgba(29, 26, 152, 0.2) 0%,
      rgba(29, 26, 152, 0.2) 71.15%
    ),
    #7a77ff;
}
